# build artifacts
webserver
*.o
*.obj
*.dSYM/
*.exe
*.out
build/

# docs
docs/public/
docs/internal/

# OS/editor
.DS_Store
.vscode/

# Zig outputs (ignore everywhere)
zig-out/
.zig-cache/
zig-cache/
**/zig-out/
**/.zig-cache/
**/zig-cache/
